{% extends "home.html" %}
{% block body %}
{% load static %}
    <section id="about" class="text-white about-section">
        <div class="container">
        
        <h1>Articles</h1>
        <ul>
        
        <div style = "text-align:left">
            {% for article in object_list %}
            <div class = "card" >
                <img src = "{% static 'img/NYandtaxi.jpg'%}" width = "192" height = "108" class = "card img top">
                <div class = "card-body">
                    <h5 class = "card-title text-dark" >{{article.title}}</h5>
                    <p class = "card-text text-dark">{{article.body}}</p>
                <a href = "/blog/update/{{article.id}}" class = "btn btn-primary">Edit</a>
                <a href = "/blog/delete/{{article.id}}" class = "btn btn-primary">Delete</a>

                </div>
                {% empty %}
                <li>No articles yet.</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>
   
{% endblock %}