{%extends "home.html" %}
{% block body %}
{% load static %}
    <section id="about" class="text-white about-section">
        <div class="container">
        <h1 align="center"> Your WatchList </h1>
        <form action = "stockpage" method = "get">
            <label>Search:</label>
            <input name = "stock_name"/>
        </form>
        <ul>
        
        <div style = "text-align:left">
            {% for stock in stocks %}
            <div class = "card" >
                <div class = "card-body">
                    <h3 class = "card-title text-dark" >{{stock.name}}</h3>
                    <h5 class = "card-body text-dark">{{stock.price}}</h5>
                    <form action = "delete/{{stock.name}}/" method = "post">
                        {% csrf_token %}
                        <input type="submit" value="Remove">
                    </form>
                </div>
                {% empty %}
                <li>No Stocks on Watchlist yet</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}